################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceBus.Sender/bin/Debug/net8.0
/ServiceBusConsumer.Demo/bin/Debug/net8.0
/.vs/Azure.ServiceBus
